.main {
    max-width: 1200px;
    // background: rgb(246, 246, 246);
    padding: 0 15px 15px 15px;
    &-block {
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        position: relative;
        z-index: 5000;
        top: -50px;
    }
    &-goods {
        display: flex;
        flex-direction: column;
        // align-items:center;
        justify-content: space-between;
    }
    &-container {
        display: flex;
        flex-direction: row;
    }
}

.pizza {
    display: flex;
    gap: 10px;
    max-width: 1300px;
    flex-wrap: wrap;
    // justify-content: space-around;

    &-block {
        width: 291px;
        background: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: flex-start;
        text-align: left;
        img {
            border-radius: 25px;
        }
        h3 {
            color: rgb(143, 98, 57);
            padding: 10px 22px;
        }
    }
    &-description {
        padding: 0 22px;
    }
    &-filter {
        // display: flex;
        // flex-direction: row;
        padding-top: 15px;
        &-type {
            padding: 5px 10px;
            margin: 10px;
        }
        &-size {
            padding: 0 10px;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
            gap: 5px;
        }
        &-board {
            display: flex;
            justify-content: space-around;
            font-family: sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: .02em;
            color: #50a684;
            align-items:center;
        }
    }
    &-footer {
        display: flex;
        justify-content: space-around;
        padding: 10px 0 22px 0;
        align-items:center;
        font-weight: 700;
        &-btn {
            padding: 10px 20px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            border-radius: 24px;
            background-color: #009471;
            border: none;
            color: #fff;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
        }
        &-price {

        }
    }
}
.goods {
    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;
    &-block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        h2 {
            margin: 30px 0 20px 0;
        }
    }
    &-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}
.filter-block {
    // position: relative;
    // top: -35px;
    // padding: 0 15px;
    padding-bottom: 40px;
    h2 {
        padding-bottom: 13px;
    }
}
.filter-size-item {
    padding: 5px 10px;
    border: 1px solid rgb(112, 197, 115);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    cursor: pointer;
    &.active {
        border: 2px solid #009471;
        background: rgb(234, 254, 255);
    }
}
.filter-type-item {
    padding: 5px 10px;
    border: 1px solid rgb(36, 179, 40);
    border-radius: 15px;
}
hr {
    width: 200px;
    background: rgba(165, 122, 57, 0.631);
    padding: 1px;
}