.main {
    max-width: 1200px;
    // background: rgb(246, 246, 246);
    padding: 0 15px 15px 15px;
    &-block {
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        position: relative;
        z-index: 5000;
        top: -50px;
    }
    &-goods {
        display: flex;
        flex-direction: column;
        // align-items:center;
        justify-content: space-between;
    }
    &-container {
        @media (max-width: 1170px) {
            max-width: 895px;
        }
        display: flex;
        flex-direction: row;
    }
}

.pizza {
    display: flex;
    gap: 10px;
    max-width: 1300px;
    flex-wrap: wrap;
    // justify-content: space-around;
    
    &-block {
        width: 291px;
        background: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: flex-start;
        text-align: left;
        &-img{
            height: 250px;
            width: auto;
        }
        img {
            border-radius: 25px;
        }
        h3 {
            color: rgb(143, 98, 57);
            padding: 10px 22px;
        }
    }
    &-description {
        padding: 0 22px;
    }
    &-filter {
        // display: flex;
        // flex-direction: row;
        padding-top: 15px;
        &-type {
            padding: 5px 10px;
            margin: 10px;
        }
        &-size {
            padding: 0 10px;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
            gap: 5px;
        }
        &-board {
            display: flex;
            justify-content: space-around;
            font-family: sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: .02em;
            color: #50a684;
            align-items:center;
        }
    }
    &-footer {
        display: flex;
        justify-content: space-around;
        padding: 10px 0 22px 0;
        align-items:center;
        font-weight: 700;
        &-btn {
            padding: 10px 20px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            border-radius: 24px;
            background-color: #009471;
            border: none;
            color: #fff;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover){
                &:hover{
                  background-color: #036d54;  
                }
            }
        }
        &-price {

        }
    }
}
.goods {
    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;
    &-block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        h2 {
            margin: 30px 0 20px 0;
        }
    }
    &-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}
.filter-block {
    // position: relative;
    // top: -35px;
    // padding: 0 15px;
    padding-bottom: 40px;
    @media (max-width: 1170px) {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    h2 {
        padding-bottom: 13px;
    }
}
.filter-size-item {
    padding: 5px 10px;
    border: 1px solid #a37c648a;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    cursor: pointer;
    color: rgb(104, 104, 104);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
        &:hover{
            background: rgba(244, 255, 250, 0.484);
            border-color: #54806e;
            color: rgba(0, 0, 0, 0.881);
            // color: #a37c64;
        }
    }
    &.active {
        // border: 2px solid #009471;
        color: #000;
        border: 1px solid #b07957;
        background: #f7f7f77d;
    }
}
.filter-type-item {
    padding: 5px 10px;
    border: 1px solid rgb(36, 179, 40);
    border-radius: 15px;
}
hr {
    width: 200px;
    background: rgba(165, 122, 57, 0.631);
    padding: 1px;
}
.arrow-up {
    cursor: pointer;
    height: 47px;
    width: 47px;
    background: rgb(209, 251, 173);
    // background: rgb(42, 73, 64);
    position: fixed;
    left: 45px;
    bottom: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}