

.header {
    width: 100%;
    // background: rgb(226, 226, 226);
    &-nav {
        max-width: 1200px;
        max-height: 80px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
        padding: 10px;
        margin: 0 auto;
        @media (max-width:900px) {
            justify-content: space-between;
        }
    }
}
.nav {
    // position: absolute;
    // top: 0;
    // left: 0;
    &-left {
        display: flex;
        flex-direction: row;
        align-items:center;
        &-logo {

            img {
               max-width: 115px;
               max-height: 47px; 
               padding: 7px;
               padding-bottom: 10px;
            }
        }
        &-region {
            padding: 10px;
            font-weight: 600;
            color:rgb(68, 68, 68);
            align-items:center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &-list {
        display: flex;
        flex-direction: row;
        @media (max-width:900px){
            flex-direction: column;
            gap: 20px;
        }
    }
    @media (max-width:900px){
        background: rgb(223, 223, 223);
        padding: 15px;
        z-index: 7000;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 10px;
    }
    &-link {
        padding: 10px;
        font-weight: 600;
        a {
            color: black;
            font-weight: 500;
        }
        &.active {
            color: grey
        }
    }
    &-right {
        display: flex;
        flex-direction: row;
        align-items:center;
    }
    &-btn {
        max-height: 35px;
        height: 48px;
        padding: 0 15px;
        position: relative;
        display: inline-block;
        border-radius: 24px;
        border: none;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        background-color: #e1faf4;
        color: #009471;

        font-size: 13px;

        cursor: pointer;
        ::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            border-radius: 24px;
            background-color: inherit;
            -webkit-transition: -webkit-transform .35s;
            transition: -webkit-transform .35s;
            transition: transform .35s;
            transition: transform .35s,-webkit-transform .35s;
        }
        span {
            position: relative;
            display: inline-block;
            white-space: nowrap;
            z-index: 2;
        }
    }
    &-lang{
        font-weight: 700;
        padding: 10px;
        text-transform: uppercase;
    }
    @media (max-width:777px){
        font-weight: 13px;
    }
}