.navbar_menu {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    @media (max-width: 490px){
        display: none;
    }
    &-link {
        font-weight: 600;
        color: rgb(48, 37, 30);
        text-align: center;
        top: 0;
        position: relative;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                top: -6px;
            }
        }
        @media (max-width:777px){
            font-size: 14px;
        }
        img {
            height: 50px;
            width: 48px;
            @media (max-width: 777px){
                width: 34px;
                height: 36px;
            }
        }
        &.active {
            top: -5px;
            color: rgb(129, 97, 77);
        }
    }
    &-item {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
}
.navbar {

    &-ingredients {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        @media (max-width:930px){
            display: none;
        }
        img {
            width: 80px;
            height: 80px;
        }
        span {
            font-weight: 700;
            color: rgb(125, 93, 74);
            text-align: left;
        }
    }
}