
.cart {
    flex: 1 0 200px;
    display: flex;
    background-color: #fff;
    position: sticky;
    top: 5px;
    // height: 330px;
    border-radius: 25px;
    margin-left: 25px;
    flex-direction: column;
    float: right;
    // ----------------->>>>>>>>>>>>>??? 10px
    padding: 10px;
    margin-top: 125px;
    &-title {
        padding: 10px;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 800;
        color:rgb(144, 116, 82)
    }
    &-block {
        max-width: 200px;
        img {
            padding: 2px 10px 0px 0;
        }
    }
    &-description {
        display: flex;
        align-items:center;
        padding: 12px;
        text-align: center;
    }
    &-item {
        padding: 0px 10px 5px 0;
        /* display flex ????? */
        // display: flex;
        // flex-direction: row;
        // align-items:center;
        // justify-content: start;
        &-block {
            display: flex;
            align-items:center;
            position: relative;
        }
        &-cross-btn {
            position: absolute;
            right: 0px;
            top: 0;
            width: 13px;
            height: 13px;
            background: rgb(218, 36, 36);
            border-radius: 50%;
            cursor: pointer;
        }
        &-img {
            width: 70px;
            height: 57px;
        }
        &-text {

        }
        &-title {
            font-size: 13px;
        }
        &-subtitle {
            font-size: 10px;
            line-height: 1.33;
        }
        &-count {
            font-weight: bold;
            display: flex;
            align-items:center;
        }
    }
    &-order-btn {
        background-color:rgb(95, 165, 142);
        color: #fff;
        padding: 5px;
        border-radius: 10px;
        text-align: center;
    }
}
.count {
    &-text {
        padding-right: 15px;
    }
    &-btn {
        padding: 0 3px;
    }
}