.root {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #009471;
    z-index: 555;
    // transition: all 0.7s ease 0s;
}
.container {
    display: flex;
    gap: 25px;
    color: #fff;
    font-weight: 600;
}
.link {
    cursor: pointer;
    position: relative;
    @media (any-hover: hover){
        &:hover{
            color: rgb(236, 236, 236);
        }
    }
    &:global(.active) {
        position: relative;
        &::after{
            content:'';
            background-color: #efefef;
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -3px;
        }
    }
}
:global {
    .alert-enter {
        opacity: 0;
    }
    .alert-enter-active {
        opacity: 1;
        transition: opacity 300ms;
    }
    .alert-exit {
        opacity: 1;
    }
    .alert-exit-active {
        opacity: 0;
        transition: opacity 300ms;
    }
}