.cart {
   max-width: 650px;
//    background: rgba(196, 196, 196, 0.503); 
   border-radius: 15px;
   width: 100%;
}
.total {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
}
.price {
    font-weight: 600;
    padding: 5px 0;
}
.order_btn {
    padding: 7px;
    background:#009471;
    border-radius: 15px;
    color: white;
    font-weight: 600px;
}